<launch>
    <arg name="use_rviz" default="false"/>
    <include file="$(find robot_moveit)/launch/demo.launch">
        <arg name="use_gui" value="true"/>
        <arg name="use_rviz" value="$(arg use_rviz)"/>
    </include>

    <!-- <node pkg="execute" type="Arm_moveit.py" name="Arm_moveit" respawn="true"/> -->
    <node pkg="execute" type="Arm_control_real.py" name="Arm_control_real" output="screen" launch-prefix="bash -c 'sleep 18; $0 $@' "/>
</launch>
