<launch>

  <arg name="camera_type"           default="d415"/>
  <arg name="camera_align_depth"    default="true"/>
  <arg name="camera_enable"    default="true"/>

  <!-- Robot_base -->
  <!-- <include file="$(find robot_bringup)/launch/robot_base.launch"/> -->

  <!-- Camera -->
  <include if="$(arg camera_enable)" file="$(find robot_bringup)/launch/robot_start_realsense.launch">
    <arg name="device_type"         value="$(arg camera_type)"/>
    <arg name="enable_pointcloud" value="false"/>
    <arg name="topic_odom_in"             value="/odom"/>
    <arg name="enable_sync"       value="true"/>
    <arg name="align_depth"    value="$(arg camera_align_depth)"/>
    <arg name="enable_infra1"       default="false"/>
    <arg name="enable_infra2"       default="false"/>  
  </include>
  
  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" launch-prefix="bash -c 'sleep 7; $0 $@' ">
      <remap from="image"       to="/camera/aligned_depth_to_color/image_raw"/>
      <remap from="camera_info" to="/camera/color/camera_info"/>
      <remap from="scan"        to="/scan"/>
      <param name="range_max" type="double" value="3"/>
      <param name="range_min" type="double" value="0.05"/>
  </node>
</launch>
